<%= form_with(model: @meeting, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :cover_picture %>
    <%= form.file_field :cover_picture, accept: 'image/png,image/jpeg,image/jpg', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :event_date %>
    <%= form.datetime_field :event_date, min: Date.tomorrow, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :duration %>
    <%= form.number_field :duration, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, step: '0.01', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :max_attendees %>
    <%= form.number_field :max_attendees, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
