<h1>Meetings</h1>

<% @meetings.each do |meeting| %>
  <div class="card meeting-card">
    <div class="row card-body">
      <div class="col card-image">
        <%= image_tag meeting.cover_picture, class: 'card-img-top', alt: 'meeting main image' %>
      </div>
      <div class="col card-infos">
        <div class="col card-general">
          <h5 class="card-title"><%= meeting.name %></h5>
          <p class="card-text"><%= meeting.category.name %></p>
          <p class="card-text">On <%= meeting.event_date.strftime('%a %F') %> at <%= meeting.event_date.strftime('%I %M %p') %></p>
          <p class="card-text"><%= meeting.location %></p>
        </div>
        <div class="col card-attendees">
          <h5 class="card-title"><%= meeting.attendees.count %>/<%= meeting.max_attendees %></h5>
        </div>
      </div>
      <div class="col card-buttons">
        <%= link_to 'Show', meeting, class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_meeting_path(meeting), class: 'btn btn-warning' %>
        <%= link_to 'Delete', meeting_path(meeting), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
<% end %>