<h1>Meetings</h1>

<% @meetings.each do |meeting| %>
  <div class="card meeting-card">
    <div class="card-body row">
      <div id="card_image" class="col">
        <%= image_tag meeting.cover_picture, class: 'card-img-top', alt: 'meeting main image' %>
      </div>
      <div id="card_infos" class="col">
        <h5 class="card-title"><%= meeting.name %></h5>
        <p class="card-text"><%= meeting.description %></p>
      </div>
      <div id="card_buttons" class="col">
        <%= link_to 'Show', meeting, class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_meeting_path(meeting), class: 'btn btn-warning' %>
        <%= link_to 'Delete', meeting_path(meeting), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
<% end %>
