<%= image_tag @meeting.cover_picture, width: 500 %>

<h1><%= @meeting.name %></h1>

<h3>Description</h3>
<p><%= @meeting.description %></p>

<% if current_user.id == @meeting.user_id %>

  <%= link_to 'Edit', edit_meeting_path(@meeting), class: 'btn btn-warning' %>
  <%= link_to 'Delete', meeting_path(@meeting), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>

<% end %>

<% if @meeting.event_date > Time.now %>

  <% if current_user.id != @meeting.user_id %>

    <% if current_user.attending?(@meeting) %>

      <%= form_for(current_user.active_attends.find_by(attended_meeting_id: @meeting.id), html: { method: :delete }) do |form| %>
        <%= form.submit 'Unattend', class: 'btn btn-primary' %>
      <% end %>

    <% else %>

      <%= form_for(current_user.active_attends.build) do |form| %>
        <%= hidden_field_tag :attended_meeting_id, @meeting.id %>
        <%= form.submit 'Attend', class: 'btn btn-primary' %>
      <% end %>

    <% end %>

    <% if current_user.has_favorite?(@meeting) %>

      <%= form_for(current_user.active_favorites.find_by(favorite_meeting_id: @meeting.id), html: { method: :delete }) do |form| %>
        <%= form.submit 'Remove from favorites', class: 'btn btn-outline-primary' %>
      <% end %>

    <% else %>

      <%= form_for(current_user.active_favorites.build) do |form| %>
        <%= hidden_field_tag :favorite_meeting_id, @meeting.id %>
        <%= form.submit 'Add to favorites', class: 'btn btn-outline-primary' %>
      <% end %>

    <% end %>

  <% end %>

<% else %>

  <p>Meeting has ended</p>

<% end %>
