<!DOCTYPE html>
<html>
  <head>
    <title>meet&do</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <div class="row container-fluid">
      <div class='col sidebar-fixed'><%= render 'shared/sidebar' %></div>
      <div class='col page-content'><%= render 'shared/alerts' %><%= yield %></div>
    </div>
  </body>
</html>
